.cart {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 65px;
  padding: 10px;
}

.cart .card {
  display: flex;
  overflow-x: 50px;
  justify-content: space-between;
  align-items: center;
}

.cart .card img {
  width: 60px;
  display: block;
  height: 60px;
}

.cart .card p {
  width: 200px;
}

.cart .card .quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .card .quantity p {
  width: 50px;
  text-align: center;
}

.cart .card .quantity button {
  width: 50px;
}

.cart .card h2 {
  visibility: hidden;
}

.cart .total {
  text-align: right;
  border-top: 1px solid black;
}

@media (min-width: 990px) {
  .cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 128px;
  }

  .cart .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart .card img {
    width: 40px;
    height: 40px;
  }

  .cart .card p {
    width: 200px;
  }

  .cart .card .quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart .card .quantity p {
    width: 50px;
    text-align: center;
  }

  .cart .card .quantity button {
    width: 50px;
  }

  .cart .card h2 {
    color: crimson;
    cursor: pointer;
  }

  .cart .total {
    text-align: right;
    border-top: 1px solid black;
  }
}
